<div class="contextual">
  <% if User.current.admin? %>
    <%= link_to l(:label_administration), enumerations_path, :class => "icon icon-settings" %>
  <% end %>
</div>

<%= form_tag(project_typologies_enumerations_path(@project), :method => :put, :class => "tabular") do %>

  <table class="list">
    <thead>
    <tr>
      <th><%= l(:field_name) %></th>
      <th><%= toggle_checkboxes_link('input.enumerations_active') %> <%= l(:field_active) %></th>
      <th><%= l(:field_trackers) %></th>
    </tr>
    </thead>

    <% Typology.active.each do |typology| %>
      <tr>
        <td class="name">
          <%= typology %>
        </td>
        <td>
          <%= check_box_tag "typologies_ids[#{typology.id}][active]",
                            "1",
                            @project.excluded_typologies.exclude?(typology),
                            {class: 'enumerations_active'} %>
        </td>
        <td class="tracker">
          <%= select_tag "typologies_ids[#{typology.id}][tracker_ids]",
                         options_from_collection_for_select(@project.trackers.sorted,
                                                            "id", "name",
                                                            @project.trackers_for(typology: typology).map(&:id)),
                         include_blank: true,
                         multiple: true,
                         class: 'trackers_select'
          %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag l(:button_save) %>
<% end %>

<script type="text/javascript">
    $(function () {
        if ((typeof $().select2) === 'function') {
            $('.trackers_select').select2({
                containerCss: {width: 'auto'}
            })
        }
    })
</script>
